apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: repo-1-main-app
  namespace: argocd
spec:
  project: repo-1-main
  source:
    repoURL: 'https://github.com/abhishekmaniy/node-1.git'
    targetRevision: main
    path: k8s
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: default
  syncPolicy:
    syncOptions:
    - CreateNamespace=true

    automated:
      prune: true
      selfHeal: true
